In [18]:
#read the parquet dataset
import pandas as pd
df = pd.read_parquet('/Users/zhouyiying/Downloads/assignment 1 files/prices.parquet')
#convert parquet to DataFrame
df_price = pd.DataFrame(df)
df_price.head(3)

   price  mon_purchases  tues_purchases
0     10              1               0
1     10              1               1
2     10              1               1

In [70]:
#calculate the percentage of Monday and Tuesday perchase
percentage_of_buying = df_price.groupby("price").agg({
    'mon_purchases': 'mean',
    'tues_purchases': 'mean'
}) 
percentage_of_buying = percentage_of_buying.reset_index()
percentage_of_buying.head(5)

   price  mon_purchases  tues_purchases
0     10           0.47            0.80
1     11           0.54            0.89
2     12           0.57            0.79
3     13           0.53            0.84
4     14           0.53            0.88

In [66]:
# Expected Value on Tuesday
percentage_of_buying["Expected Money on Tuesday"] = percentage_of_buying["price"]*percentage_of_buying["tues_purchases"]

In [67]:
#find the EMV and its price on Tuesday
Tuesday_EMV = percentage_of_buying["Expected Money on Tuesday"].idxmax()
Optimal_Tuesday_Price = percentage_of_buying.loc[Tuesday_EMV]
print("the EMV for Tuesday is:{}".format(Tuesday_EMV))
print("the optimal price is:{}".format(Optimal_Tuesday_Price))

the EMV for Tuesday is:22
the optimal price is:price                        32.00
mon_purchases                 0.45
tues_purchases                0.70
Expected Money               22.40
Expected Money on Tuesday    22.40
Name: 22, dtype: float64

In [68]:
#Expected value on Monday
percentage_of_buying["Expected Money on Monday"] = percentage_of_buying["price"]*percentage_of_buying["mon_purchases"] +(1-percentage_of_buying["mon_purchases"])*Tuesday_EMV

In [69]:
#find the EMV and its price on Monday
Monday_EMV = percentage_of_buying["Expected Money on Monday"].idxmax()
Optimal_Monday_Price = percentage_of_buying.loc[Monday_EMV]
print("the EMV for Tuesday is:{}".format(Monday_EMV))
print("the optimal price is:{}".format(Optimal_Monday_Price))

the EMV for Tuesday is:50
the optimal price is:price                        60.00
mon_purchases                 0.29
tues_purchases                0.00
Expected Money                0.00
Expected Money on Tuesday     0.00
Expected Money on Monday     33.02
Name: 50, dtype: float64